* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p{
    color: white;
}

body{
    background-color: #212121;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main-div h1{
    font-size: 60px;
}

.main-div p{
    font-size: 20px;
    text-transform: uppercase;
}